#fb-root
fb:login-button( id="fb-login",style="display: none; ",perms="email, user_events, offline_access, read_stream, read_friendlists, user_onliine_presence, user_groups, user_about_me, publish_stream, manage_friendlists")
#feed
script(src="javascripts/fb.js")