!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/feed.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="http://connect.facebook.net/en_US/all.js")
  body!= body
