* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'arial';
  line-height: 18px;
  font-size: 13px;
}

#feed {
  margin: 0 auto;
  width: 574px;
  border: 1px solid #EBEBEB;
}

#feed li {
  border-bottom: 1px solid #EBEBEB;
  padding: 16px 21px;
  position: relative;
  overflow: hidden;
}

#feed .name {
  font-weight: bold;
}

#feed #profile-img {
  float: left;
  padding-right: 13px;
}

#feed #picture, #linkBody {
   float:left;
}

#feed #icon {
  padding-right: 7px;
  display: block;
  float: left;
}

#feed .link {
  font-weight: bold;
}

#feed #body {
   overflow: hidden;
   padding-bottom: 5px;
}

#feed #bodyHeader {
   padding-bottom: 5px;
}

#feed #postActions {
   padding-bottom: 5px;
}

#feed #postContents {
  float: left;
  width: 425px;
  margin-right: 44px;
}
a {
  color: #36C;
}
a:hover {
  text-decoration: underline;
}

.grey {
  color: #999;
}

#postHeader{
   padding-bottom: 5px;
}

.message {
   padding: 5px 0 0 0;
}

#linkIMG {
   float: left;
   margin-right: 8px;
}

#postComments li {
   padding: 8px;
   border-bottom: none;
   border-top: 1px dotted #CCC;
}

#postComments li img {
   width: 32px;
   height: 32px;
   float: left;
   padding-right: 5px;
}

#postComments #message {
   float: left;
   width: 50px;
}

#postComments li a {
}

.add-comment {
   padding: 2px 7px;
   width: 100%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   position:relative;
   margin-top: -1px;
   border: 1px solid #DDD;
   cursor: text;
   color: #999;
}

#feed #likes {
   height: 15px;
   border-top: 1px solid #DDD;
   padding: 8px 0 13px 8px;
}

.likes-count {
   color: #36C;
   font-style: italic;
   font-weight: bold;
}
